@import './../../styles/vars.less';

.workshops {
  color: @black;
  .container {
    padding: 2rem;
  }  
  .workshop-content {
    padding-top: 75px;
    h2 {
      color: @primary-color;
    }
  }
}